#left-column {
    width: 80%;
}

#right-column {
    width: 18%;
    float: right;
    padding-right: 10px;
}

body {
    background-color: lightgray;
    height: auto;
}

#text-input {
    width: 100%;
    float: left;
    resize: none;
}

.slider {
    width: 100%;
    float: left;
}

#log-output {
    width: 100%;
    float: left;
    resize: none;
}

#max-new-tokens-input {
    width: 30%;
    float: left;
    margin-left: 5px;
}
